{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}
 {% block title %} 
 Login 
{% endblock %} 
{% block content %}
<form method="POST" class="col-12 col-md-6 pl-3 pr-3 pl-md-0 pr-md-0">
  {% csrf_token %}
  <fieldset class="form-group">
    <legend class="mb-3 white-important">
      Login <br />
      <small class="text-muted pt-2"
        >By continuing, you agree to our User Agreement and Privacy
        Policy.</small
      >
    </legend>
    {{ form | crispy }}
  </fieldset>
  <div class="form-group">
    <button class="btn btn-outline-dark" type="submit">Login</button>
  </div>
</form>
<div class="pt-3">
  <h6>
    <br /><br />
    <strong>New to Website?</strong>
    <a class="ml-2" href="{% url 'signup' %}">Sign up</a>
  </h6>
</div>
<!-- </div> -->
{% endblock %}
