{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block title %} 
SignUp
{% endblock %}
{% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="mb-3 white-important">Register a new account</legend>
      {{ form | crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-dark" type="submit">Sign Up</button>
    </div>
  </form>
  <h6 class="text-muted">
    <strong>Already Have An Account? </strong
    ><a class="ml-2" href="{% url 'login' %}">Sign In</a>
  </h6>
</div>
{% endblock content %}
